@font-face{
    src: url(../fonts/Cartoon\ Slam.ttf);
    font-family: "Cartoon Slam";
}
body{
    background-image: url(../images/lightbackground.png);
    background-size: auto;
    text-align: center;
    font-family: Cartoon Slam;
}
h2{
    position: relative;
    top: -0.5rem;
}
#switch{
    width: 5rem;
    height: 2.3rem;
    background-color: lightgray;
    border-radius: 2rem;
}
#circle{
    width: 1.4rem;
    height: 1.4rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    top:0;
    left:0;
}
#header1{
    position: absolute;
    top: 5rem;
    right: 45.8rem;
}
#header2{
    position: absolute;
    top: 5rem;
    right: 49.1rem;
}
#header3{
    position: absolute;
    top: 5rem;
    right: 46.5rem;
}
#header4{
    position: absolute;
    top: 5rem;
    right: 45.1rem;
}
#header5{
    position: absolute;
    top: 5rem;
    right: 50.7rem;
}
#Back{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    left: 24rem;
    background-color: white;
    border: 0.3rem solid black;
}
#Next{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: white;
    border: 0.3rem solid black;
}
#Trivia{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: blue;
    border: 0.3rem solid black;
}
#border{
    width: 50rem;
    height: 30rem;
    border: 0.5rem solid black;
    position: absolute;
    top: 10rem;
    right: 34.5rem;
}
#img1{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#img2{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#img3{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#vid1{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
    border: none;
}
#vid2{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
    border: none;
}
#p1{
    position: absolute;
    top: 41rem;
    right: 47rem;
}
#p2{
    position: absolute;
    top: 41rem;
    right: 42rem;
}
#p3{
    position: absolute;
    top: 41rem;
    right: 39rem;
}
#p4{
    position: absolute;
    top: 41rem;
    right: 36rem;
}
#p5{
    position: absolute;
    top: 41rem;
    right: 37.6rem;
}