@font-face{
    src: url(../fonts/Cartoon\ Slam.ttf);
    font-family: "Cartoon Slam";
}
body{
    background-image: url(../images/lightbackground.png);
    background-size: auto;
    font-family: Cartoon Slam;
}
#Enter{
    display: flex;
    width: 150px;
    height: 75px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 43vh;
    border: 8px solid black;
}
#container{
    display: grid;
    grid-template-columns: 106px 50px 860px 50px 106px;
    grid-template-rows: 520px;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
}
#Back{
    float:left;
    width: 100px;
    height: 50px;
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
    border: 3px solid black;
}
#none1{
    display: none;
    grid-column: 2;
    grid-row: 1;
}
#view{
    width: 840px;
    height: 500px;
    grid-column: 3;
    grid-row: 1;
    border: 10px solid black;
}
#img1{
    width: 840px;
    height: 500px;
    grid-column: 3;
    grid-row: 1;
    position: relative;
    top: 0;
}
#img2{
    width: 840px;
    height: 500px;
    grid-column: 3;
    grid-row: 1;
    position: absolute;
    top: 10px;
    right: 160px;
}
#img3{
    width: 840px;
    height: 500px;
    grid-column: 3;
    grid-row: 1;
    position: absolute;
    top: 10px;
    right: 160px;
}
#none2{
    display: none;
    grid-column: 4;
    grid-row: 1;
}
#Next{
    float:right;
    width: 100px;
    height: 50px;
    grid-column: 5;
    grid-row: 1;
    background-color: blue;
    border: 3px solid black;
}