@font-face{
    src: url(../fonts/Cartoon\ Slam.ttf);
    font-family: "Cartoon Slam";
}
body{
    background-image: url(../images/lightbackground.png);
    background-size: auto;
    text-align: center;
    font-family: Cartoon Slam;
}
#dark-mode{
    background-image: url(../images/darkbackground.png);
    background-size: auto;
    text-align: center;
    font-family: Cartoon Slam;
    color:white;
}
h2{
    position: relative;
    top: -0.5rem;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + body{
    background-image: url(../images/darkbackground.png);
}
input:checked + .slider{
    background-color: darkgray;
}
input:focus + .slider{
    box-shadow: 0 0 1px darkgray;
}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
#header1{
    position: absolute;
    top: 5rem;
    right: 45.8rem;
}
#header2{
    position: absolute;
    top: 5rem;
    right: 49.1rem;
}
#header3{
    position: absolute;
    top: 5rem;
    right: 46.5rem;
}
#header4{
    position: absolute;
    top: 5rem;
    right: 45.1rem;
}
#header5{
    position: absolute;
    top: 5rem;
    right: 50.7rem;
}
#Back{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    left: 24rem;
    background-color: white;
    border: 0.3rem solid black;
}
#dark-modeBack{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    left: 24rem;
    background-color:black;
    border: 0.3rem solid white;
    color: white;
}
#Next{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: white;
    border: 0.3rem solid black;
}
#dark-modeNext{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: black;
    border: 0.3rem solid white;
    color: white;
}
#Trivia{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: blue;
    border: 0.3rem solid black;
}
#dark-modeTrivia{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 24rem;
    right: 24rem;
    background-color: black;
    border: 0.3rem solid blue; 
    color: blue;
}
#border{
    width: 50rem;
    height: 30rem;
    border: 0.5rem solid black;
    position: absolute;
    top: 10rem;
    right: 34.5rem;
}
#img1{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#img2{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#img3{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
}
#vid1{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
    border: none;
}
#vid2{
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 10.5rem;
    right: 35rem;
    border: none;
}
#p1{
    position: absolute;
    top: 41rem;
    right: 47rem;
}
#p2{
    position: absolute;
    top: 41rem;
    right: 42rem;
}
#p3{
    position: absolute;
    top: 41rem;
    right: 39rem;
}
#p4{
    position: absolute;
    top: 41rem;
    right: 36rem;
}
#p5{
    position: absolute;
    top: 41rem;
    right: 37.6rem;
}